hr {
    border: none;
    color: black;
    background-color: black;
    height: 2px;
}

p{
    font-size: 20px;
    margin-left: 20px;
}

p.text{
    font-size: 20px;
    text-indent: 30px;
    margin-left: 20px;
}

p.footer{
    font-size: 15px;
}

td{
    font-size: 20px;
}

a{
    font-size: 20px;
}

a.menu{
    font-size: 25px;
    font-style: italic;
    color: black;
    text-decoration: none;
}

table.menu{
    border-spacing: 50px 50px;
}

td.menu{
    background: #05f800;
    text-align: center;
    border-style: double;
    padding: 5px 5px;
}

ul{
    font-size: 20px;
    margin-left: 20px;
}

b.price{
    font-size: 30px;
}

body{
    background: url('../img/background/main.jpg') no-repeat center center fixed, rgba(255,255,255,0.85);
    background-blend-mode: color;
}

h2.product_short{
    color: black;
    font-size: 18px;
    font-weight: 400;
}

p.product_short{
    text-indent: 30px;
    margin-left: 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    color: brown;
}

p.product_long{
    text-indent: 30px;
    margin-left: 20px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #484343;
    text-align: left;
}

ul.product{
    text-decoration: underline;
    font-size: 16px;
    font-style: italic;
    list-style: "✔ ";
}

img.product{
    border: 3px solid black;
}

input[type=text].contacts{
    width: 300px;
    height: 25px;
    font-style: italic;
    color: blueviolet;
}

input[type=email].contacts{
    width: 300px;
    height: 25px;
    text-transform: uppercase;
    color: blueviolet;
}

input[type=topic].contacts{
    width: 300px;
    height: 25px;
    text-transform: uppercase;
    font-style: italic;
    color: blueviolet;
}

textarea.contacts{
    width: 300px;
    height: 100px;
    color: blueviolet;
}